body,
html {
    height: 100vw;
}

img .backGround{
    max-width: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../../assets/guestPageBackGround.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}