.schedule-container {
    width: 80%;
    margin: 0 auto;
}

td,
th {
    text-align: center;
}

h4 {
    text-align: center;
}

li {
    list-style-type: none;
}

.groupLevelName {
    font-weight: bold;
}